@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
